socle_transverse-EPP-3.10/socle-transverse-interoperability/src/main/resources/xsd/solon/epg/solon_fdr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Mr Viruega (JOURNAUX 
	OFFICIELS) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.dila.premier-ministre.gouv.fr/solon/epg/solon_fdr"
	targetNamespace="http://www.dila.premier-ministre.gouv.fr/solon/epg/solon_fdr"
	elementFormDefault="qualified"
	xmlns:solco="http://www.dila.premier-ministre.gouv.fr/solon/epg/solon-commons">


	<!-- ====================================== -->
	<!-- Imports -->
	<!-- ====================================== -->
	<xs:import schemaLocation="solon-commons.xsd"
		namespace="http://www.dila.premier-ministre.gouv.fr/solon/epg/solon-commons"></xs:import>

	<xs:element name="FEUILLE_DE_ROUTE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NOR" />
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="ETAPE" />
					<xs:element ref="CONTAINER" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CONTAINER">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NOM" type="xs:string" />
				<xs:element ref="CONTAINER_TYPE" />
				<xs:element name="POSITION" type="xs:int" />
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="ETAPE" />
					<xs:element ref="CONTAINER" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="VALIDE_AUTO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Non" />
				<xs:enumeration value="Oui" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="CONTAINER_TYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PARALLELLE" />
				<xs:enumeration value="SEQUENCIELLE" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="TYPE_ETAPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Pour avis" />
				<xs:enumeration value="Pour initialisation" />
				<xs:enumeration value="Pour avis CE" />
				<xs:enumeration value="Pour attribution" />
				<xs:enumeration value="Pour attribution au SGG" />
				<xs:enumeration value="Pour attribution au secteur parlementaire" />
				<xs:enumeration value="Pour contreseing" />
				<xs:enumeration value="Pour information" />
				<xs:enumeration value="Pour impression" />
				<xs:enumeration value="Pour bon à tirer" />
				<xs:enumeration value="Pour signature" />
				<xs:enumeration value="Pour fourniture d'épreuves" />
				<xs:enumeration value="Pour publication à la DILA JO" />
				<xs:enumeration value="Pour publication à la DILA BO" />
				<xs:enumeration value="Retour pour modification" />
				<xs:enumeration value="Pour publication BO" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="POSTE" type="xs:string" />
	<xs:element name="OBLIG_MIN_ETAPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Non" />
				<xs:enumeration value="Oui" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OBLIG_SGG_ETAPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Non" />
				<xs:enumeration value="Oui" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NUM_VERSION" type="xs:int" />
	<xs:element name="NUM_ETAPE" type="xs:int" />
	<xs:element name="NOR" type="xs:string" />
	<xs:element name="MINISTERE" type="xs:string" />

	<xs:element name="ETAT_ETAPE">
		<xs:complexType>
			<xs:attribute name="id" use="required" />
			<xs:attribute name="libelle" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="ETAPE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NAME" type="xs:string" />
				<xs:element ref="NUM_ETAPE" />
				<xs:element ref="TYPE_ETAPE" />
				<xs:element name="POSITION" type="xs:int" />
				<xs:element ref="MINISTERE" />
				<xs:element ref="POSTE" />
				<xs:element ref="ETAT_ETAPE" />
				<xs:element ref="NUM_VERSION" />
				<xs:element maxOccurs="unbounded" ref="NOTE_ETAPE" />
				<xs:element ref="OBLIG_SGG_ETAPE" />
				<xs:element ref="OBLIG_MIN_ETAPE" />
				<xs:element ref="VALIDE_AUTO" />
				<xs:element ref="AUTEUR" />
				<xs:element ref="ECHEANCE" />
				<xs:element ref="DATE_TRAIT" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ECHEANCE" type="xs:string" />
	<xs:element name="DATE_TRAIT" type="xs:string" />
	<xs:element name="AUTEUR" type="solco:Utilisateur" />


	<xs:element name="NOTE_ETAPE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENTETE" type="xs:string" />
				<xs:element name="CONTENU" type="xs:string" />
				<xs:element name="AUTEUR" type="solco:Utilisateur" />
				<xs:element ref="VISIBILITE" />
				<xs:element name="DATE_CREATION" type="xs:string" />
				<xs:element maxOccurs="unbounded" ref="NOTE_ETAPE" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="VISIBILITE">
		<xs:complexType>
			<xs:attribute name="id" use="required" />
			<xs:attribute name="type" use="required" />
			<xs:attribute name="libelle" use="required" />
			<xs:attribute name="visibilte" use="required" />
		</xs:complexType>
	</xs:element>


</xs:schema>
