socle_transverse-EPP-3.10/socle-transverse-interoperability/src/main/resources/xsd/solon/epg/solon_journal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Mr Viruega (JOURNAUX 
	OFFICIELS) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.dila.premier-ministre.gouv.fr/solon/epg/solon_journal"
	targetNamespace="http://www.dila.premier-ministre.gouv.fr/solon/epg/solon_journal"
	elementFormDefault="qualified">


	<xs:element name="NOR" type="xs:string" />
	<xs:element name="ENT_USER" type="xs:string" />
	<xs:element name="ENT_USER_POSTE" type="xs:string" />
	<xs:element name="ENT_TIME" type="xs:string" />
	<xs:element name="ENT_DATE" type="xs:string" />
	<xs:element name="ENT_CAT" type="xs:string" />
	<xs:element name="ENT_COMMENT" type="xs:string" />
	<xs:element name="JOURNAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NOR" />
				<xs:sequence>
					<xs:element name="ent_journal" type="ENT_JOURNAL"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ENT_JOURNAL">
		<xs:sequence>
			<xs:element name="NOR" type="xs:string" />
			<xs:element ref="ENT_DATE" />
			<xs:element ref="ENT_USER" />
			<xs:element ref="ENT_USER_POSTE" />
			<xs:element ref="ENT_CAT" />
			<xs:element ref="ENT_COMMENT" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
