solon_epp-EPP-3.10/solon-epp-core/src/main/resources/data/schema/domain/base.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:base="http://nuxeo.org/schemas/base/">

	<!-- type complexe list de String -->
	<xs:complexType name="stringList">
		<xs:sequence>
			<xs:element name="item" type="xs:string" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="dateList">
		<xs:sequence>
			<xs:element name="item" type="xs:date" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="stringArray">
		<xs:list itemType="xs:string" />
	</xs:simpleType>

</xs:schema>


