socle_transverse_4.0.17/socle-transverse-interoperability/src/main/resources/wsdl/dictao/d2s/D2SInterfaceFrontEnd.xsd

<?xml version="1.0" encoding="UTF-8"?>

<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" xmlns:tns="http://www.dictao.com/D2S/Interface"
	targetNamespace="http://www.dictao.com/D2S/Interface">


	<s:element name="signatureEx">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="requestId"
					type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="transactionId"
					type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="tag" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="dataToSign"
					type="tns:dataType" />
				<s:element minOccurs="0" maxOccurs="1" name="detachedSignature"
					type="tns:dataType" />
				<s:element minOccurs="1" maxOccurs="1" name="signatureFormat"
					type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="signatureType"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="signatureParameter"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="signatureContext"
					type="tns:contextType" />
				<s:element minOccurs="0" maxOccurs="1" name="pluginParameter"
					type="tns:ArrayOfPluginParameterStruct" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="prepareSignatureEx">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="requestId"
					type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="transactionId"
					type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="tag" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="keyContainerFormat"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="keyContainerType"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="keyContainerParameter"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="properties"
					type="tns:dataType" />
				<s:element minOccurs="0" maxOccurs="1" name="pluginParameter"
					type="tns:ArrayOfPluginParameterStruct" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:simpleType name="dataEncoding">
		<s:restriction base="s:string">
			<s:enumeration value="gzEnc" />
			<s:enumeration value="b64Enc" />
			<s:enumeration value="gzb64Enc" />
		</s:restriction>
	</s:simpleType>
	<s:complexType name="contextType">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" name="contextId"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="certificate"
				type="tns:dataType" />
			<s:element minOccurs="0" maxOccurs="1" name="certificateRequest"
				type="tns:dataType" />
			<s:element minOccurs="0" maxOccurs="1" name="wrappedPrivateKey"
				type="tns:dataType" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="dataType">
		<s:choice>
			<s:element name="value" type="tns:dataString" />
			<s:element name="binaryValue" type="tns:dataBinary" />
		</s:choice>
	</s:complexType>
	<s:complexType name="dataString">
		<s:simpleContent>
			<s:extension base="s:string">
				<s:attribute name="dataFormat" type="tns:dataEncoding"
					use="optional" />
			</s:extension>
		</s:simpleContent>
	</s:complexType>
	<s:complexType name="dataBinary">
		<s:simpleContent>
			<s:extension base="s:base64Binary">
				<s:attribute name="dataFormat" type="tns:dataEncoding"
					use="optional" />
			</s:extension>
		</s:simpleContent>
	</s:complexType>
	<s:complexType name="ArrayOfPluginParameterStruct">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="PluginParameterStruct"
				nillable="true" type="tns:PluginParameterStruct" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="PluginParameterStruct">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="Label" type="s:string" />
			<s:element minOccurs="1" maxOccurs="1" name="Data" type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:element name="signatureExResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="signatureExResult"
					type="tns:D2SResponseEx" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:complexType name="D2SResponseEx">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="opStatus"
				type="s:int" />
			<s:element minOccurs="1" maxOccurs="1" name="D2SStatus"
				type="s:int" />
			<s:element minOccurs="1" maxOccurs="1" name="requestId"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="D2SArchiveId"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="D2SSignature"
				type="tns:dataType" />
			<s:element minOccurs="0" maxOccurs="1" name="SignatureContext"
				type="tns:contextType" />
			<s:element minOccurs="0" maxOccurs="1" name="pluginResponse"
				type="tns:ArrayOfPluginResponseStruct" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="D2SArchiveResponseEx">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="opStatus"
				type="s:int" />
			<s:element minOccurs="1" maxOccurs="1" name="requestId"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="D2SProof"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="pluginResponse"
				type="tns:ArrayOfPluginResponseStruct" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfPluginResponseStruct">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="PluginResponseStruct"
				nillable="true" type="tns:PluginResponseStruct" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="PluginResponseStruct">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="Label" type="s:string" />
			<s:element minOccurs="1" maxOccurs="1" name="Response"
				type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:element name="getArchiveEx">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="requestId"
					type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="archiveId"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="pluginParameter"
					type="tns:ArrayOfPluginParameterStruct" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="getArchiveExResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="getArchiveExResult"
					type="tns:D2SArchiveResponseEx" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="prepareSignatureExResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1"
					name="prepareSignatureExResult" type="tns:D2SResponseEx" />
			</s:sequence>
		</s:complexType>
	</s:element>


</s:schema>
